:root{
    --bgc: #2C2C2C;
    --grey: #6B6B6B;
    --red: #E0576D;
    --blue: #3750D4;
    --red-gradient: ;
    --blue-gradient: ;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    background-color:var(--bgc);
}

h1, h2, h3, h4, h5, h6{
    font-family: brother-1816, sans-serif;
    color: #fff;
    font-weight: 900;
}

.page h2{
    text-transform: uppercase;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.page{
    width: 100%;
    height: 100%;
}

main{
    scroll-snap-type: y mandatory;
}

/*=====NAV====*/
.nav{
    position: fixed;
    right: -3000px;  
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    border-radius: 1000%;
    justify-content: center;
    transform: scale(0);
    transition: 0.4s;
    z-index: 99;
}

.nav>ul {
    height: 100%;
    width: 100%;
    text-align: center;
    list-style-type: none;
}

.nav>ul> li{
    padding: 10px 15px;
    margin: 20px 0;
}

.nav>ul> li:first-child{
    text-align: right;
}

.nav>ul> li:first-child i{
    color: var(--bgc);
    font-size: 14px;
}

.nav>ul>li a{
    font-family: brother-1816, sans-serif;
    font-weight: 900;
    font-size: 22px;
    text-decoration: none;
    color: rgb(214, 214, 214);  
    transition: 0.2s ease-out;  
}

.nav>ul>li a:hover{
    font-size: 30px;
    color: var(--bgc);    
}

.nav-mobile-container{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 100px 0 0 100px;
    z-index: 999;
}

.nav-mobile-btn{
    width: 40px;
    height: 40px;
    background: rgb(224,87,109);
    background: linear-gradient(180deg, rgba(224,87,109,1) 0%, rgba(220,109,127,1) 47%, rgba(215,136,149,1) 100%);
    border-radius: 100px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-mobile-btn> div{
    width: 60%;
    height: 3px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 3px;
}

.nav-mobile-btn> div:nth-child(2){
    width: 40%;
}

/*====SPLASH PAGE====*/

.splash-page{
    background-image: url("../img/bg.png");
    background-position: -110px 300px;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
}
/*
.splash-page img{
    position: absolute;
    bottom: -100px;
    left: -250px;
    transform: rotate(40deg);
    width: 300px;
    animation: ja 5s;
    animation-fill-mode: forwards;
}*/

.splash-page img{
    position: absolute;
    bottom: -100px;
    left: -100px;
    transform: rotate(0deg);
    width: 300px;
    z-index: 90;
}



.main-heading{
    font-size: 40px;
    position: absolute;
    top: -40%;
    left: 25%;
    animation: startAnime1 1s ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.sub-heading{
    font-size: 4vw;
    font-weight: 500;
    animation: startAnime2 0.5s ease-out;
    animation-delay: 1s;
}

/*====PROJECTS====*/

.projects-page h2{
    font-size: 12vw;
    margin-left: calc(100% - (92% + 10px));
    margin-top: 20px;
    margin-bottom: 20px;
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr;
}

.projects-item{
    width: calc(0vw + 85%);
    padding: 15px 10px;
    margin: 15px auto;
}

.projects-item:nth-child(odd){
    background: linear-gradient(310deg, rgba(224,87,109,1) 0%, rgba(220,109,127,1) 47%, rgba(215,136,149,1) 100%);
}

.projects-item:nth-child(even){
    background: rgb(55,80,212);
    background: linear-gradient(310deg, rgba(55,80,212,1) 0%, rgba(107,126,223,1) 46%, rgba(174,184,236,1) 100%);
}

.projects-item img{
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/*=====CV====*/
.cv-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px rgb(168, 168, 168)solid;
}

.cv-page h2{
    font-size: 12vw;
}

.download-btn{
    width: 80px;
    height: 80px;
    border:none;
    margin-top: 25px;
    color: #fff;
    border-radius: 100px;
    background-color: var(--red);
    position: relative;
    cursor: pointer;
    z-index: 80;
}

.download-btn:before{
    content: '';
    background-color: rgb(247, 128, 128);
    position: absolute;
    width: 95px;
    height: 95px;
    border-radius: 200px;
    top: -8px;
    left: -8px;
    opacity: 1;
    animation: animeBtn 1.4s;
    animation-iteration-count: infinite;
    z-index: -1;
    outline: none;
}

@keyframes animeBtn{
    from{
        transform: scale(0);
        background-color: var(--red);
    }

    50%{
        background-color: rgb(250, 143, 143);
    }

    75%{
        transform: scale(1.2);
        background-color: rgb(253, 207, 207);
        opacity: 0.2;
    }

    to{
        opacity: 0;
    }
}

@keyframes startAnime1{
    from{
        top: -40%;
    }
    50%{
        top: 12%;
    }

    60%{
        top: 6%;
    }

    70%{
        top: 12%;
    }

    80%{
        top: 8%;
    }

    90%{
        top: 12%;
    }

    95%{
        top: 10%;
    }
    to{
        top: 12%;
    }
}

/*
@keyframes ja{
    from{
        bottom: -100px;
        left: -550px;
        transform: rotate(40deg);
        width: 300px;
    }

    25%{
        bottom: -100px;
        left: -250px;
        transform: rotate(30deg);
        width: 300px;
    }

    50%{
        bottom: -300px;
        left: -550px;
        transform: rotate(10deg);
        width: 300px;
    }

    60%{
        bottom: -300px;
        left: -150px;
        transform: rotate(20deg);
        width: 300px;
    }

    75%{
        bottom: -650px;
        left: -150px;
        transform: rotate(5deg);
        width: 300px;
    }

    90%{
        bottom: -500px;
        left: -450px;
        transform: rotate(10deg);
        width: 300px;
    }

    to{
        bottom: 0px;
        left: -100px;
        transform: rotate(0deg);
        width: 300px;
    }
}*/

/*====CONTACT PAGE====*/
.contact-page{
    height: 100vh;
    max-width: 100%;
    border-top: 3px rgb(168, 168, 168)solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.contact-page h2{
    font-size: 10vw;
    margin-bottom: 20px;
    text-align: center;
}

.contact-way{
    display: grid;
}

.contact-item{
    color: var(--red);
    font-size: 6vw;
    margin: 10px 0;
}

.contact-item i{
    margin-right: 10px;
    grid-area: icon;
}

.some{
    margin-top: 30%;
}

.some-item{
    font-size: 22px;
    margin: 0 5px;
}

.some-item a{
    color: #fff;
}

/*====EXACT PROJECT====*/

.exact-project{
    background-color: #fff;
    color: var(--bgc);
    font-size: 18px;
}

.exact-project h3{
    font-size: 10vw;
}

.exact-project h3, h4{
    color: var(--bgc);
}

.exact-project h4{
    font-size: 7vw;
}

.type{
    font-size: 6vw;
    color: var(--grey);
}

.project-info{
    width: 90%;
    margin: 0 auto;
}

.project-visualisation{
    width: 100%;
    height: 300px;
    padding: 15px 0;
    margin: 15px auto;
    background: linear-gradient(310deg, rgba(224,87,109,1) 0%, rgba(220,109,127,1) 47%, rgba(215,136,149,1) 100%);
}

.project-visualisation img{
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.project-details{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}

.project-details-item{
    display: flex;
    margin-top: 5px;
}

.project-details-item i {
    margin-right: 5px;
}

.project-text{
    padding: 20px 0;
}

.devices{
    margin: 20px 0;
    font-size: 18px;
}
